.table {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid #F0E68C;
    font-size: 15px;
    background: #fff!important;
}
.table th {
    font-weight: bold;
    padding: 7px;
    background: #F0E68C;
    border: none;
    text-align: center;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #F0E68C;
    cursor: pointer;
}
.table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
    text-align: center;
}
.table tbody tr:nth-child(even){
    background: #f8f8f8!important;
}

.pageNum {
    text-align: right;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}

.hidden {
    display: none;
}

.search input{
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

